.project {
    display: grid;
    margin-bottom: 5em;
    justify-items: center;
}

.project img {
    height: 15em;
}

.caption {
    color: rgb(163, 163, 163);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color:#27292b;
    font-size: 1em;
    padding-right: 3em;
    padding-left: 3em;
    height: 16em;
}

.main-title {
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 2em;
}

.inner-title {
    color: #666666;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.services-item {
    display: grid;
    background-image: linear-gradient(to bottom, #27292b,#27292b, rgb(163, 163, 163),rgb(163, 163, 163),rgb(130, 130, 130));
    color: #27292b;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    justify-items: center;
    align-items: center;
    width: 15em;
    /* height: 30em; */
    margin-right: 1em;
    margin-left: 1em;
}

.services-container {
    display: flex;
    place-content: center;
}

.services-inner-title {
    color: #666666;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    padding-bottom: 1em;
    /* margin-top: -0.6em; */
    text-align: center;
}

.services-sub-section {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 11em;
}

.services-item img {
    padding-bottom: 2em;
}

.about-title {
    text-align: center;
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
}

.contact-title {
    text-align: center;
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-blurb {
    color: rgb(163, 163, 163);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1em;
    padding-left: 3em;
    width: 50em;
    text-indent: 50px;
    line-height: 1.6;
}

.input {
    width: 500px;
    height: 35px;
    margin-bottom: 15px;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: grey;
}

.textarea {
    width: 500px;
    height: 150px;
    margin-bottom: 15px;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: grey;
    padding-top: 7px;
    resize: none;
}

.btn {
    margin-bottom: 15px;
    width: 220px;
    height: 38px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #696969;
    border: none;
}

.form {
    display: grid;
}