.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 35px;
    background-color: #27292b;
    padding-left: 15vw;
    padding-right: 15vw;
}

.project {
    display: grid;
    justify-items: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 80px;
}

.project img {
    height: 280px;
    padding-bottom: 40px;
}

.caption {
    color: rgb(163, 163, 163);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color:black;
    font-size: 1em;
    height: 280px;
    width: 400px;
    line-height: 20px;
    letter-spacing: 0.0125px;
}

.main-title {
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    padding-top: 95px;
    padding-bottom: 20px;
}

.inner-title {
    color: white;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 21px;
    text-align: center;
    padding-bottom: 25px;
}

.services-item {
    display: grid;
    /* background-image: linear-gradient(to bottom, #27292b,#27292b, rgb(163, 163, 163),rgb(163, 163, 163),rgb(130, 130, 130)); */
    color: white;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    padding-top: 20px;
    padding-bottom: 95px;
    justify-items: center;
    align-items: center;
    width: 15em;
    margin-right: 1em;
    margin-left: 1em;
    border: solid 4px rgb(130, 130, 130);
    text-align: center;
    line-height: 19px;
    letter-spacing: 0.5px;
}

.services-container {
    display: flex;
    place-content: center;
    padding-bottom: 65px;
}

.services-title {
    padding-top: 95px;
}

.services-inner-title {
    color: white;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 22px;
    padding-bottom: 35px;
    text-align: center;
    padding-top: 25px;
}

.services-sub-section {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 11em;
}

.services-item img {
    padding-bottom: 25px;
}

.about-title {
    text-align: center;
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
}

.contact-title {
    text-align: center;
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
}

.about-blurb {
    color: rgb(163, 163, 163);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1em;
    padding-left: 3em;
    width: 50em;
    text-indent: 50px;
    line-height: 1.6;
    padding-bottom: 45px;
}

.input {
    width: 500px;
    height: 35px;
    margin-bottom: 15px;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: grey;
}

.textarea {
    width: 500px;
    height: 150px;
    margin-bottom: 15px;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: grey;
    padding-top: 7px;
    resize: none;
}

.btn {
    margin-bottom: 15px;
    width: 220px;
    height: 38px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #696969;
    border: none;
}

.form {
    display: grid;
}

.email {
    color: rgb(163, 163, 163);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1em;
    width: 50em;
    line-height: 1.6;
    padding-bottom: 50px;
    display: grid;
    text-align: center;
}