.details-container {
    color: #ffffff;
    margin-left: 5vw;
    margin-right: 5vw;
}

.project {
    display: flex;
    margin-bottom: 5em;
}

.project img {
    height: 15em;
    width: auto;
    padding-right: 2.5em;
}

.project p {
    color: #9aa6ab;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.title {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-bottom: 2em;
}