.details-container {
    color: #ffffff;
}

.project {
    display: flex;
    margin-bottom: 5em;
    margin-left: 12vw;
    margin-right: 12vw;
}

.project img {
    height: 15em;
    width: auto;
    padding-right: 2.5em;
}

.project .caption {
    color: #27292b;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    /* background-image: linear-gradient(to bottom right,#bdbdbd, rgb(163, 163, 163),rgb(130, 130, 130),#8a8a8a); */
    background-image: linear-gradient(to bottom, rgb(163, 163, 163),rgb(163, 163, 163),rgb(130, 130, 130));
    font-size: 1em;
    padding: 3em;
}

.main-title {
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 2em;
}

.inner-title {
    color: #666666;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    padding-bottom: 1em;
    /* margin-top: -0.6em; */
    text-align: center;
}

.services-item {
    display: grid;
    background-image: linear-gradient(to bottom, #27292b,#27292b, rgb(163, 163, 163),rgb(163, 163, 163),rgb(130, 130, 130));
    color: #27292b;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    justify-items: center;
    align-items: center;
    width: 15em;
    /* height: 30em; */
    margin-right: 1em;
    margin-left: 1em;
}

.services-container {
    display: flex;
    place-content: center;
}

.services-inner-title {
    color: #666666;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    padding-bottom: 1em;
    /* margin-top: -0.6em; */
    text-align: center;
}

.services-sub-section {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 11em;
}

.services-item img {
    padding-bottom: 2em;
}