.mobile-project {
    display: grid;
    padding-bottom: 2em;
    /* border: 3px solid #696969; */
    /* background-image: linear-gradient(to bottom right, rgb(163, 163, 163),rgb(163, 163, 163),rgb(130, 130, 130)); */
    background-image: linear-gradient(to bottom, #27292b,rgb(163, 163, 163),rgb(163, 163, 163),rgb(130, 130, 130));
    margin-bottom: 2em;
}

.mobile-project img {
    width: 80vw;
    height: auto;
    padding-bottom: 2em;
    justify-self: center;
}

.mobile-project p {
    text-indent: 2em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1em;
    padding-right: 5vw;
    padding-left: 5vw;
    color: #27292b;
}

.mobile-title {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-bottom: 2em;
}

.mobile-details-container {
    color: #ffffff;
}

.project-title {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: rgb(163, 163, 163);
    /* color: #27292b; */
    margin-bottom: 1em;
    margin-top: 1em;
    justify-self: center;
    font-size: 1.3em;
}