.project-tablet {
    display: grid;
    margin-bottom: 9em;
    justify-items: center;
}

.project-tablet img {
    height: 15em;
}

.caption-tablet {
    color: rgb(163, 163, 163);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color:#27292b;
    font-size: 0.8em;
    padding-right: 3em;
    padding-left: 3em;
    height: 16em;
}

.main-title-tablet {
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 2em;
}

.inner-title-tablet {
    color: #666666;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.services-item-tablet {
    display: grid;
    background-image: linear-gradient(to bottom, #27292b,#27292b, rgb(163, 163, 163),rgb(163, 163, 163),rgb(130, 130, 130));
    color: #27292b;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 0.7em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    justify-items: center;
    align-items: center;
    margin-right: 1em;
    margin-left: 1em;
}

.services-container-tablet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.services-inner-title-tablet {
    color: #666666;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    padding-bottom: 1em;
    text-align: center;
}

.services-sub-section-tablet {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 11em;
}

.services-item-tablet img {
    padding-bottom: 2em;
}

.services-title-tablet {
    font-size: 1.8em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #ffffff;
    margin-top: 150px;
    margin-bottom: 1em;
}
