* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page-wrap {
    text-align: center;
    overflow: auto;
  }

/* Individual item */
.bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #29272b;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 26px;
    right: 30px;
    top: 25px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #696969;
  }

  .bm-burger-bars-hover {
    background: white;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #29272b;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .span-row-2 {
    grid-column: span 2 / auto;
    justify-self: center;
  }

  .work-tag {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .work-left {
    justify-self: flex-start;
  }

  .work-right {
    justify-self: flex-end;
  }