* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page-wrap {
    text-align: center;
    overflow: auto;
  }

/* Individual item */

.bm-item {
    width: 10em;
    height: 2.3em;
    text-decoration: none;
    color: #ffffff;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    transition: color 0.2s;
    font-size: 20px;
    /* background-color: rgba(166, 174, 180, 0.79); */
    background-color: #cdd2d5;
    margin-bottom: 1.2em;
    padding-top: 10px;
    border: 5px solid #87939b
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    width: 30px;
    height: 20px;
    margin-top: -7px;
    position: fixed;
    right: 5vw;
    top: 25px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #696969;
  }

  .bm-burger-bars-hover {
    background: #ffffff;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #29272b;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background-color: rgba(166, 174, 180, 0.79);
    font-size: 1.15em;
    text-align: center;
  }

  
    /* Wrapper for item list */
  .bm-item-list {
    padding-top: 2em;
    padding-left: 2em;
  }

  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    display: none;
  }

  .span-row-2 {
    grid-column: span 2 / auto;
    justify-self: center;
    align-self: center;
  }

  .view-work { 
    color: #a6aeb4;
    text-decoration: none;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color: #27292b;
    border: 2px solid #a6aeb4;
    width: 10em;
    height: 2.6em;
    display: grid;
    place-content: center;
    margin: auto;
    font-size: 0.9em;
  }

  .view-work-mobile {
    color: #a6aeb4;
    text-decoration: none;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color: #27292b;
    border: 2px solid #a6aeb4;
    width: 10em;
    height: 2.6em;
    display: grid;
    place-content: center;
    /* margin: auto; */
    font-size: 0.9em;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #e08648;
    background-image: linear-gradient(to right,#eaad85,#e7a273, #e08648);
    width: 90vw;
    height: 45px;
  }

  .footer a {
    color: #ffffff;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    text-decoration: none;
  }
  
  .skills-container {
    display: flex;
  }

  .hidden-dash {
    color: transparent;
  }

  .skills-card {
   display: grid;
   justify-items: center;
   align-items: center;
   color: #29272b;
   font-size: 0.9em;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.00938em;
   border: solid 5px #227d5b; 
   width: 10rem;
   margin-right: 0.5rem;
   margin-left: 0.5rem;
   padding: 10px;
  }

  .skills-card-frontend {
    background-image: linear-gradient(#29272b, #29272b, #29272b,#2fac7e,#2fac7e, #2fac7e,rgb(34,125,91));
  }

  .skills-card-server {
    background-image: linear-gradient(#29272b, #29272b,#29272b, #2fac7e, #2fac7e, #2fac7e,rgb(34,125,91));
   }

   .skills-card-database {
    background-image: linear-gradient(#29272b, #29272b, #29272b,#2fac7e,#2fac7e, #2fac7e,rgb(34,125,91));
  }

   .skills-card-additional {
    background-image: linear-gradient(#29272b, #29272b,#29272b, #2fac7e, #2fac7e,#2fac7e,rgb(34,125,91));
  }

  .heading {
    color: #ffffff;
    font-size: x-large;
    font-size: 1.3rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.33;
    letter-spacing: 0em;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  .slogan-container {
    display: grid;
    place-items: center;
    color: #ffffff;
    font-size: 2.3em;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  }

  .title {
    color: #a6aeb4;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1em;
    justify-self: center;
    align-self: center;
    margin: auto;
  }

  
    

